// Node View Mode - Directory
// -----------------------------------------------------------------------------

.node--view-mode-directory {
  $float-width: 25%;

  @include teaser($image-width: $float-width);

  @include breakpoint(md) {
    .node-featured-image {
      margin-top: 0;
    }
  }

  .node-content {
    margin: 1rem 0;
  }

  @include breakpoint(md) {
    .cell > *:not(.node-featured-image) {
      margin-left: calc(#{$float-width} + 1.25rem);
    }
  }
}
