// =============================================================================
// Root
// =============================================================================

:root {
  // Set all the defined custom properties (CSS Variables)
  @each $prop, $value in $customProperties {
    #{$prop}: $value;
  }

  // Define gap and gutter custom properties for each breakpoint.
  @each $prop, $value in $breakpoints {
    $headerHeight: map-get($headerHeights, $prop);
    $whitespace: map-get($whitespaces, $prop);
    $gutter: map-get($gutters, $prop);
    $gap: map-get($gaps, $prop);

    @include breakpoint($prop) {
      @if $headerHeight != null {
        --headerHeight: #{rem-calc($headerHeight)};
      }

      @if $whitespace != null {
        --whitespace: #{rem-calc($whitespace)};
      }

      @if $gutter != null {
        --gutter: #{rem-calc($gutter)};
      }

      @if $gap != null {
        --gap: #{rem-calc($gap)};
      }
    }
  }
}
