// =============================================================================
// Button Mixin
// =============================================================================

@mixin button() {
  display: block;
  border: none;
  margin: 0 0 1rem;
  appearance: button;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  text-align: center;
  text-transform: none;
  transition: 0.2s ease-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    border: 1px solid currentColor;
    background-color: white;
    box-shadow: 0 0 5px $primary-color;
    outline: none;
    transition: 0.2s ease-out;
  }

  &.disabled,
  &:disabled {
    opacity: 0.65;
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

// Button Reset Mixin
// -----------------------------------------------------------------------------

@mixin button-reset() {
  padding: 0;
  border: none;
  margin: 0;
  appearance: button;
  background: transparent;
  border-radius: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
  user-select: none;
}

// Form submit style button
// -----------------------------------------------------------------------------

@mixin form-submit() {
  padding: 0.75rem 1.125rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  background-color: rgba(white, 0.85);
  border-radius: 3px;
  transition: 0.2s ease-out;

  &:hover,
  &:focus {
    background-color: $a11y-bg--hover;
    color: $text-color;
    text-decoration: underline;
  }

  &:active {
    background-color: $a11y-bg--active;
    color: $text-color;
  }
}
