// =============================================================================
// Page Branding
// =============================================================================

.branding {
  a {
    display: inline-block;
  }

  svg {
    width: auto;
    height: rem-calc(80);
  }
}
