// =============================================================================
// Main Navigation (Header)
// =============================================================================

.main-navigation__header {
  width: 100%;
  flex-shrink: 0;

  @include breakpoint(lg-down) {
    display: none;
  }
}
